<section class="product-listing ">
  <div class=" container flex flex-col gap-4 pt-6 md:pt-8 pb-10">
    <!-- Breadcrumb -->
          <div class="flex items-center gap-1.5 text-sm md:text-base">
            <a href="/" class="hover:text-mainColor transition leading-[150%] ">{{ t('home') }}</a>
            <span>/</span>
            <span class="text-mainColor  leading-[150%] ">{{ context.collection.title }}</span>
          </div>

    <!-- Title -->
     <div class="flex items-center flex-col gap-4">

    <div class=" w-full flex items-center  gap-4 {% if context.products | length > 0 %}justify-between{% else %}justify-start{% endif %} gap-3">
      <h1 class="text-lg leading-[120%] md:text-[40px] font-bold">{{ context.collection.title }}</h1>
      {% if context.products | length > 0 %}
      <div class="w-auto ">
        <div class="relative w-[140px] h-[36px] md:w-[176px] md:h-[42px]">
          <select class="w-full h-full appearance-none border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-mainColor text-right text-xs md:text-base pr-3 pl-9 md:pr-4 md:pl-10">
            <option>{{ t('sort') }}</option>
            <option>{{ t('price') }}: {{ t('from') }} {{ t('lowest') }} {{ t('to') }} {{ t('highest') }}</option>
            <option>{{ t('price') }}: {{ t('from') }} {{ t('highest') }} {{ t('to') }} {{ t('lowest') }}</option>
            <option>{{ t('highest_rated') }}</option>
          </select>
          <span class="absolute left-3 top-1/2 -translate-y-1/2 pointer-events-none text-gray-700">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="M6 9l6 6 6-6" />
            </svg>
          </span>
        </div>
      </div>
      {% endif %}
    </div>

    <!-- Products Grid -->
    {% if context.products | length > 0 %}
    {% set cols_mobile = widget.data.cards_per_row_mobile%}
    {% set cols_tablet = widget.data.cards_per_row_tablet%}
    {% set cols_desktop = widget.data.cards_per_row_desktop %}
    <div class="grid 
      grid-cols-{{ cols_mobile }} 
      sm:grid-cols-{{ cols_mobile }} 
      md:grid-cols-{{ cols_tablet }} 
      lg:grid-cols-{{ cols_desktop }} 
      gap-4 md:gap-6">
      {% for product in context.products %}
      {% ui "product-card.njk", product=product ,
      card_title_color=widget.data.card_title_color,
      card_title_size=widget.data.card_title_size,
      card_description_color=widget.data.card_description_color,
      card_description_size=widget.data.card_description_size,
      price_before_color=widget.data.price_before_color,
      price_before_size=widget.data.price_before_size,
      price_color=widget.data.price_color,
      price_size=widget.data.price_size,
      discount_color=widget.data.discount_color,
      discount_size=widget.data.discount_size,
      buy_button_bg=widget.data.buy_button_bg %}
      {% endfor %}
    </div>
  </div>
    
    <!-- Pagination -->
    <div class="mt-8">
      {% ui "pagination.njk" %}
    </div>
    {% else %}
    {%ui "empty-products.njk"%}
    {% endif %}
  </div>
</section>