
{% set  title_color = widget.data.title_color %}
{% set title = widget.data.title %}

{% set subtitle = widget.data.subtitle %}
{% set subtitle_color = widget.data.subtitle_color %}

{% set button_text = widget.data.button_text %}
{% set button_text_color = widget.data.button_text_color %}
{% set button_text_font_size = widget.data.button_text_font_size %}
{% set button_link = widget.data.button_link %}

{% set banner_higth_lg = widget.data.banner_higth_lg %}
{% set banner_higth_sm = widget.data.banner_higth_sm %}

{% set image_lg = widget.data.image_lg %}
{% set image_sm = widget.data.image_sm %}
<section class="my-12 md:my-16 max-md:!px-0 container rounded-xl">
  <div
    class="relative w-full rounded-none md:rounded-xl flex items-center"
    style="
      width: 100%;
      background-image: url('{{ image_sm.fileUrl if window.innerWidth <= 750 else image_lg.fileUrl }}');
      background-size: cover;
      background-position: {% if image_sm.fileUrl and window.innerWidth <= 750 %}center center{% else %}center top{% endif %};
      background-repeat: no-repeat;
      min-height: {% if banner_higth_sm and window.innerWidth <= 750 %}{{banner_higth_sm}}{% else %}{{banner_higth_lg}}{% endif %}px;
    "
  >
    <div class="absolute inset-0 bg-black/30 md:bg-mainColor/30 rounded-none md:rounded-xl"></div>
    <div class="relative w-full flex items-center">
      <div
        class="py-10 md:py-16 px-4 md:px-[106px] rounded-2xl max-md:items-center flex flex-col gap-4 md:gap-6  w-full"
      >
        <div class="w-full flex flex-col max-md:items-center md:gap-[11px]">
          <h1
            class="max-md:text-center font-bold w-full md:w-7/12 md:text-[40px] text-[20px] leading-[150%]"
            style="color: {{ title_color }}; line-height: 150%;"
          >
            {{ t(title) }}
          </h1>
          <div
            class="max-md:text-center text-start leading-[150%] font-medium"
            style="color: {{ subtitle_color }}; "
          >
            {{ t(subtitle ) | safe }}
          </div>
        </div>
        <div>
          <a href="{{ button_link | default('/collections') }}" class="inline-block">
            <button
              class="border inline-block min-w-[150px] font-bold py-3 px-6 rounded-full hover:bg-gray-800 transition"
              style="color: {{ button_text_color }}; font-size: {{ button_text_font_size }}px; border-color: {{ button_text_color }};"
            >
              {{ t(button_text) }}
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>