{% set locale = localization.lang %}
<!DOCTYPE html>
<html lang={{locale}} dir="rtl">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{{ context.page.title | default("Store") }}</title>
  {% seo %}
  {% qumra_head %}
  {% log "mainColor", settings.mainColor %}
  <style>
    :root {
      --mainColor: {{ settings.mainColor }};

      --darkColor: {
          {
          settings.darkColor
        }
      }

      ;
      --swiper-navigation-size: 25px;
    }

    body {
      background-color: #FEFEFE;
    }
  </style>

  <!-- Tailwind CSS CDN -->
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <script src="https://unpkg.com/@phosphor-icons/web"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <link rel="stylesheet" href="{{ 'style.css' | assets }}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>


  <!-- Tailwind Config -->
  <script>
    tailwind.config = {
      theme: {
        extend: {
          fontFamily: {
            'tajawal': ['tajawal'],
          },
          colors: {
            mainColor: {
              DEFAULT: 'var(--mainColor)',
            },
            successGreenLight: "#ECFDF3",
            successGreen: "#ECFDF3",
            error: "#B42318",
            errorLight: "#FEF3F2",
            stork: "#E2E2E2",
            bgItem: "#F7F7F7",
            textDescription: "#666666",
          }
        }
      }
    }
  </script>
  <!-- Swiper CSS -->

</head>

<body dir="{{t('dir')}}">
  <div x-data="GlobalState()" x-init="init()">
    {%ui "loading-screen.njk" %}
    {% template "header" %}

    <main>
      {% content " " %}
    </main>
    {% template "footer" %}
    {%ui "wishlist-sidebar.njk" %}
    {%ui "cart.njk" %}
  </div>
  {% qumra_scripts %}
  <script>
    console.log("Global Data", __qumra__);

  </script>
  <!-- Swiper JS -->

  <script src="{{ 'main.js' | assets }}"></script>
  <script src="{{ 'cart.js' | assets }}"></script>
  <script src="{{ 'product.js' | assets }}"></script>
  <script src="{{ 'wishlist.js' | assets }}"></script>
  <script src="{{ 'sidebar.js' | assets }}"></script>
  <script src="{{ 'search.js' | assets }}"></script>
  <script src="{{ 'swiper-init.js' | assets }}"></script>
</body>

</html>