
{% set  search_placeholder = t(widget.data.search_placeholder) %}
{% set  bg_color_fixed = widget.data.bg_color_fixed %}
{% set  bg_color_scrolled = widget.data.bg_color_scrolled %}
{% set  bg_in_page = widget.data.bg_in_page%}
{% set  text_color_in_page = widget.data.text_color_in_page %}
{% set  text_color_scrolled = widget.data.text_color_scrolled %}
{% set  text_color_fixed = widget.data.text_color_fixed %}
{% set logo_higth_sm = widget.data.logo_higth_sm or 29 %}
{% set logo_higth_lg = widget.data.logo_higth_lg or 40 %}

{% style %}
.img-higth {
  height: {{ logo_higth_sm }}px;
}

@media (min-width: 768px) {
  .img-higth {
    height: {{ logo_higth_lg }}px;
  }
}
{% endstyle %}

<div x-data="{ scrolled: false, isMain: {{ context.page.isMain}} ? true : false }" x-init="
    scrolled = window.scrollY > 10;
    window.addEventListener('scroll', () => { scrolled = window.scrollY > 10 })
  "
  :class="scrolled ? 'bg-mainColor fixed top-0 shadow-lg' : (isMain ? 'bg-transparent fixed top-[49px] ' : ' bg-white  sticky top-[49px] border-b  border-stork')"
  class="flex max-h-[171px] gap-6 w-full transition-all z-50 duration-200 ease-in-out"
  :style="{ backgroundColor: scrolled ? '{{ bg_color_scrolled }}' : (isMain ? '{{ bg_color_fixed }}' : '{{ bg_in_page }}'), color: scrolled ? '{{ text_color_scrolled }}' : (isMain ? '{{ text_color_fixed }}' : '{{ text_color_in_page }}') }"
  style="transition-property: background-color, top, box-shadow; ">
  <div class=" w-full flex flex-col transition-all duration-300 ease-in-out">
    <div class="container flex md:gap-[122px] max-h-[87px] items-center justify-between py-1">
      {# py-[8.5px] #}
      <a href="{{globals.app.url}}" class="transition-all duration-300 ease-in-out">
        {% if widget.data.logo and widget.data.logo.fileUrl %}
        <img  src="{{ widget.data.logo.fileUrl }}" alt="{{ globals.app.name | default('Logo') }}"
          class="img-higth  w-auto cursor-pointer transition-all duration-300 ease-in-out" />
        {% elif globals.app.logo and globals.app.logo.fileUrl %}
        <img src="{{ globals.app.logo.fileUrl }}" alt="{{ globals.app.name | default('Logo') }}"
          class="img-higth  w-auto cursor-pointer transition-all duration-300 ease-in-out" />
        {% else %}
        <img src="{{ 'logo.png' | assets }}" alt="Logo"
          class="img-higth  w-auto cursor-pointer transition-all duration-300 ease-in-out" />
        {% endif %}
      </a>

      <div class="flex items-center justify-end md:gap-6 gap-[13px] flex-1 transition-all duration-300 ease-in-out">
        {%ui "search.njk" ,search_placeholder=search_placeholder%}

        <div class="flex md:gap-6 gap-[13px] items-center transition-all duration-300 ease-in-out">
          <button @click="toggleModal('wishlist')" type="button" class="focus:outline-none flex items-center"
            aria-label="المفضلة">
            <i class="ph text-[22px] md:text-[28px] ph-heart"
              :style="{ color: scrolled ? '{{ text_color_scrolled }}' : (isMain ? '{{ text_color_fixed }}' : '{{ text_color_in_page }}') }"></i>
          </button>
          <button @click="toggleModal('cart')" type="button" class="focus:outline-none flex items-center"
            aria-label="عربة التسوق">
            <i class="ph text-[22px] md:text-[28px] ph-shopping-cart"
              :style="{ color: scrolled ? '{{ text_color_scrolled }}' : (isMain ? '{{ text_color_fixed }}' : '{{ text_color_in_page }}') }"></i>
          </button>
          <button @click="toggleModal('search')" type="button" class="focus:outline-none md:hidden flex items-center"
            aria-label="عربة التسوق">
            <i class="ph text-[22px] ph-magnifying-glass"
              :style="{ color: scrolled ? '{{ text_color_scrolled }}' : (isMain ? '{{ text_color_fixed }}' : '{{ text_color_in_page }}') }"></i>
          </button>
          {% if customer?._id %}
          <button type="button" class="focus:outline-none flex items-center"  :style="{ color: scrolled ? '{{ text_color_scrolled }}' : (isMain ? '{{ text_color_fixed }}' : '{{ text_color_in_page }}') }">
            {{ "<i class='ph text-[22px] md:text-[28px] ph-user'></i>" | customer_logout_link }}
          </button>
          {% else %}
          <button type="button" class="focus:outline-none flex items-center"  :style="{ color: scrolled ? '{{ text_color_scrolled }}' : (isMain ? '{{ text_color_fixed }}' : '{{ text_color_in_page }}') }">
            {{ "<i class='ph text-[22px] md:text-[28px] ph-user' ></i>" | customer_login_link }}
          </button>
          {% endif %}
          <button @click="toggleModal('sidebar')" type="button"  class="focus:outline-none md:hidden" aria-label="حسابي">
            <i 
              :style="{ color: scrolled ? '{{ text_color_scrolled }}' : (isMain ? '{{ text_color_fixed }}' : '{{ text_color_in_page }}') }"
            class="ph text-[22px] text-black ph-list"></i>
          </button>
        </div>
      </div>

    </div>
    {% set header_menu = widget.data.header_menu %}
    {% if widget.data.header_menu | length > 0 and page.isMain == false %}
    <div class="flex justify-center max-md:hidden">
    <div class="w-9/12 px-10 md:px-12">
      <div class="container  relative py-2 ">
        <div id="{{widget.id}}-header-menu" class="swiper header-offers-swiper  ">
          <div class="swiper-wrapper items-center">
            
            {%log "header_menu",widget.data.header_menu%}
            {% for item in header_menu | concat(header_menu) %}
            <div class="swiper-slide">
              <a  href="{{item.url}}"
              class="block  font-bold text-nowrap text-lg text-center"
                :style="{ color: scrolled ? '{{ text_color_scrolled }}' : (isMain ? '{{ text_color_fixed }}' : '{{ text_color_in_page }}') }"
              >{{item.title}}</a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div
      ></div>
    </div>
    {% endif %}



  </div>
</div>
{%ui "sidebar.njk" ,menu=header_menu ,search_placeholder=search_placeholder %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const headerMenuSwiperElement = document.getElementById(`{{widget.id}}-header-menu`);
    if (headerMenuSwiperElement) {
        const slides = headerMenuSwiperElement.querySelectorAll('.swiper-slide').length;
        const loopedSlides = Math.max(5, Math.ceil(slides / 2));
        
        const headerOffersSwiper = new Swiper('.header-offers-swiper', {
            slidesPerView: 'auto',
            loop: true,
            loopedSlides: loopedSlides,
            autoplay: {
                delay: 1,
                disableOnInteraction: false,
                pauseOnMouseEnter: false,
                reverseDirection: false,
            },
            speed: 5000,
            freeMode: {
                enabled: true,
                momentum: false,
                sticky: false,
            },
            spaceBetween: 78,
            breakpoints: {
                640: {
                    spaceBetween: 78,
                },
                768: {
                    spaceBetween: 78,
                },
            }
        });
    }
});
</script>

<style>
.header-offers-swiper {
    overflow: hidden;
    width: 100%;
}

.header-offers-swiper .swiper-wrapper {
    transition-timing-function: linear !important;
    display: flex;
    align-items: center;
}

.header-offers-swiper .swiper-slide {
    width: auto !important;
    flex-shrink: 0;
}
</style>

