<!-- Service Features Section -->
<section class="my-12 md:my-16 px-4 container mx-auto">
    <div class="py-8 md:py-12">
        <h1 class="text-2xl md:text-3xl font-bold text-black text-center mb-10 md:mb-12">مزايا الخدمة</h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10 md:gap-10 w-full md:w-4/5 mx-auto">
            <div class="flex flex-col items-center text-center p-6 rounded-2xl hover:shadow-xl transition-all duration-300 hover:-translate-y-2">
                <div class="w-16 h-16 rounded-full flex items-center justify-center mb-4">
                    <i class="ph-thin ph-shield-check text-7xl"></i>
                </div>
                <h3 class="text-xl font-bold text-dark mt-5 mb-5">خدمة مخصصة</h3>
                <p class="text-m text-gray-600 leading-relaxed">إمكانية تخصيص الخدمة (عدد الرحلات – الوجهات – حجم البضائع).</p>
            </div>
            
            <div class="flex flex-col items-center text-center p-6 rounded-2xl hover:shadow-xl transition-all duration-300 hover:-translate-y-2">
                <div class="w-16 h-16 rounded-full flex items-center justify-center mb-4">
                    <i class="ph-thin ph-clock text-7xl"></i>
                </div>
                <h3 class="text-xl font-bold text-dark mt-5 mb-5">العمل على مدار الساعة</h3>
                <p class="text-m text-gray-600 leading-relaxed">خدمة عملاء وغرفة عمليات تعمل على مدار الساعة.</p>
            </div>
            
            <div class="flex flex-col items-center text-center p-6 rounded-2xl hover:shadow-xl transition-all duration-300 hover:-translate-y-2">
                <div class="w-16 h-16 rounded-full flex items-center justify-center mb-4">
                    <i class="ph-thin ph-gear-six text-7xl"></i>
                </div>
                <h3 class="text-xl font-bold text-dark mt-5 mb-5">أسعار مناسبة</h3>
                <p class="text-m text-gray-600 leading-relaxed">أسعار تنافسية وخطط تناسب جميع الشركات.</p>
            </div>
            
            <div class="flex flex-col items-center text-center p-6 rounded-2xl hover:shadow-xl transition-all duration-300 hover:-translate-y-2">
                <div class="w-16 h-16 rounded-full flex items-center justify-center mb-4">
                    <i class="ph-thin ph-star text-7xl"></i>
                </div>
                <h3 class="text-xl font-bold text-dark mt-5 mb-5">دقة مواعيد</h3>
                <p class="text-m text-gray-600 leading-relaxed">التزام كامل بالمواعيد وخطوط السير.</p>
            </div>
        </div>
    </div>
</section>
