<div class="flex flex-col w-full items-center justify-center gap-4">
    <i  style="color: {{settings.empty_state__color}};" class=" ma:text-[110px] text-[150px]   ph-thin ph-t-shirt"></i>
  <span style="color: {{settings.empty_state__color}};" class="text-2xl font-bold leading-[140%]">{{t("emptyproduct")}}</span>
  </div