<div class="flex flex-col w-full items-center justify-center gap-4">
    <i class=" ma:text-[110px] text-[150px]  text-textDescription ph-thin ph-t-shirt"></i>
  <span class="text-2xl font-bold leading-[140%]  text-textDescription">{{t("emptyproduct")}}</span>
  </div