{% set search_text_color_in_page = text_color_in_page  %}
{% set search_text_color_fixed = text_color_fixed  %}
{% set search_text_color_scrolled = text_color_scrolled  %}

<div
  class="border flex-1 md:flex hidden rounded-full p-3 w-full  items-center gap-2.5 transition-all duration-300 ease-in-out"
  :style="{
    borderColor: scrolled ? '{{ search_text_color_scrolled }}' : (isMain ? '{{ search_text_color_fixed }}' : '{{ search_text_color_in_page }}'),
    color: scrolled ? '{{ search_text_color_scrolled }}' : (isMain ? '{{ search_text_color_fixed }}' : '{{ search_text_color_in_page }}')
  }">
  {# p-[18px] #}
  {% form 'search', class="flex-1" %}
  <i class="ph ph-magnifying-glass"
    :style="{ color: scrolled ? '{{ search_text_color_scrolled }}' : (isMain ? '{{ search_text_color_fixed }}' : '{{ search_text_color_in_page }}') }"></i>
  <input name="q" type="search"
    class="bg-transparent outline-none transition-all duration-300 ease-in-out flex-1 header-search-input"
    :style="{
      color: scrolled ? '{{ search_text_color_scrolled }}' : (isMain ? '{{ search_text_color_fixed }}' : '{{ search_text_color_in_page }}'),
      '--search-placeholder-color': scrolled ? '{{ search_text_color_scrolled }}' : (isMain ? '{{ search_text_color_fixed }}' : '{{ search_text_color_in_page }}')
    }"
    placeholder='{{data.search_placeholder}}' autocomplete="off" />
  {% endform %}
</div>

<div x-cloak x-show="modal.open && modal.type === 'search'" class="md:hidden flex flex-col w-full fixed inset-0 z-50">
  <div class="absolute inset-0 bg-black/30" @click="toggleModal('search', false)"></div>
  <div class="relative bg-white w-full flex z-10">
    {% form 'search' ,class="py-2.5 px-6 w-full " %}
    <div class="p-3.5 flex items-center w-full rounded-lg bg-bgItem gap-2">
      <i class="ph ph-magnifying-glass text-textDescription"></i>
      <input name="q" type="search"
        class="bg-transparent text-black placeholder:text-gray-400 outline-none transition-all duration-300 ease-in-out flex-1"
        placeholder='{{data.search_placeholder}}'autocomplete="off" />
    </div>
    {% endform %}
  </div>
</div>

<style>
.header-search-input::placeholder {
  color: var(--search-placeholder-color);
  opacity: 0.8;
}
</style>
