<section class="product-listing bg-white">
  <div class="container pt-6 md:pt-8 pb-10">
  <!-- Breadcrumb & Filters (from Category.html simplified) -->
  <section class="bg-white py-0 md:py-1">
    <div class="md:block">
      <div class=" py-0 mb-3 md:mb-4">
        <nav class="flex items-center gap-2 text-sm md:text-base text-black-600">
          <a href="#" class="hover:text-mainColor transition">{{t('home')}}</a>
          <span>/</span>
          <span class="text-mainColor font-semibold">{{t(context.page.handle)}}</span>
        </nav>
      </div>
      
    </div>
  </section>

  <!-- Title -->
  <div class="mb-4 md:mb-8 mt-2 md:mt-3 flex items-center justify-between gap-2 md:gap-3">
    <h1 class="text-lg md:text-3xl font-bold mb-1 md:mb-2">{{ t(widget.data.section_title or 'view_sections') }}</h1>
    <div class="w-auto">
      {# <div class="relative w-[120px] h-[32px] md:w-[176px] md:h-[42px]">
        <select
          class="w-full h-full appearance-none border border-gray-300 rounded-[4px] focus:outline-none focus:ring-2 focus:ring-mainColor text-xs md:text-base text-right pr-6 md:pr-8 pl-5 md:pl-6"
        >
          <option>{{t('sort')}}</option>
          <option>{{t('price')}}: {{t('from')}} {{t('lowest')}} {{t('to')}} {{t('highest')}}</option>
          <option>{{t('price')}}: {{t('from')}} {{t('highest')}} {{t('to')}} {{t('lowest')}}</option>
          <option>{{t('highest_rated')}}</option>
        </select>
        <!-- السهم المخصص -->
        <span class="absolute left-2 md:left-3 top-1/2 -translate-y-1/2 pointer-events-none">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-3 h-3 md:w-4 md:h-4 text-black"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </span>
      </div> #}
    </div>
  </div>

    {% set items = (context.collections and context.collections) or (widget.data.collections and widget.data.collections) or [] %}
    <!-- Grid -->
   {% if items | length > 0  %}
    
  <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 md:gap-6">
    {% if widget.blocks and (widget.blocks | length) > 0 %}
      {% for block in widget.blocks %}
      {%ui "collection-card.njk",collection=block.data%}
      {% endfor %}
    {% else %}
      {% for item in items %}
      {%ui "collection-card.njk",collection=item%}
      {% endfor %}
    {% endif %}
  </div>

  {%ui "pagination.njk" %}
{% else  %}
{%ui "empty-products.njk"%}

   {% endif %}
  </section>